<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="{{ site.url }}"><font color="white">Christopher Wong</font></a></h1>
      <a href="/about/" class="btn">About</a>
      <a href="/resume/Christopher.Wong.pdf" class="btn">Resume</a>
      <a href="mailto:cwong680@gmail.com" class="btn">Email me</a>
      <h2 class="page-name"><font color="white" size="22">{{ page.title }}</font></h2>
    </section>

    <section class="main-content">
      
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
